.about_page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_left{
    height: 65%;
    width: 30%;
    margin-left: 5rem;
    border-radius: 1rem;
    transition: all .3s;
    background-color: #313030;
    margin-right: 1rem;
    display: grid;
    place-items: center;
}
.about_right{
    border-radius: 1rem;
    height: 65%;
    width: 55%;
    margin-right: 5rem;
    transition: all .3s;
    margin-left: 1rem;
    background-color: #313030;
}
.about_left:hover{
        transform: scale(110%);
}
.about_right:hover{
    transform: scale(110%);
}
.about_pic{
    width: 90%;
    
}
.about_heading{
    font-size: 2rem;
    text-align: center;
}
em{
    color: #646cff;
}
.about_name{
    text-align: center;
    margin-top: 9rem;
}
